/* style.css */

header {
    
    padding: 0;
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
  }

 
   body {

    padding: 0 16px;
    background: #10111115;
  } 
  
  h1 {
    color: rgb(5, 2, 2);
    font-family: monospace;
    white-space: nowrap;
  }


/* ---------------------------------------------------- */

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #206897; */
    padding: 20px;
    text-align: center;
    font-family: monospace;
  }
  
  p {
    color: #050404;
    font-size: 20px;
  }


  /* ------------------------------------------------------------------- */

  .temperature-converter {
    width: 400px;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    

  }

 
  
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #0a0606;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 30px;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    position: fixed;

  }


  select {
    margin-left: 50px;
  }

  input {
    
    width: 150px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background-color: #fff;
  
    
  }
  
  
  h3 {
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 70px;
    /* background-color: #df5050; */
    position: relative;
  }
  /* ----------------------------------------------------------------- */